<footer id="footer" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-title">Về Chúng Tôi</h3>
                    <p>Chúng tôi cung cấp những sản phẩm thời trang chất lượng cao với giá cả phải chăng, đồng thời luôn đảm bảo sự hài lòng của khách hàng.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-title">Liên Hệ</h3>
                    <ul class="footer-contact">
                        <li><i class="fa fa-map-marker"></i>Tro Hotpy, Thành Phố Thái Nguyên</li>
                        <li><i class="fa fa-phone"></i> +081434834</li>
                        <li><i class="fa fa-envelope"></i> daiduong@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-widget">
                    <h3 class="footer-title">Theo Dõi Chúng Tôi</h3>
                    <div class="footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
